@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body{
    background-image: url(img/cafe.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Acme', sans-serif;
}
h1{
    text-align: center;
    text-shadow: -3px 1px 3px rgba(0,0,0,0.6);
    border: 4px solid;
    border-color: darkred;
    width: 400px;
    margin: auto;
}
.button-89 {
  color: black;
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color:rgb(112, 13, 13);
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #5a0a0a00;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  .button-89:active {
    background: var(--color);
    color: #fff;
  }
  #dni{
    margin-left:3%;
  }
  #tel{
    margin-left:2%;
  }
  
.lam{
    margin-bottom: 8%;
    
}
#age{
    margin-right:1%;
}

select{
    width: 10%;
    border-radius: 10%;
    background-color: rgba(165, 42, 42, 0.178);
}
input{
  margin-top: 1%;
    border-radius: 10%; 
    background-color: rgba(165, 42, 42, 0.178);
    height:300%;
    }
form{
  border-style: ridge;
  border-radius: 30px;
  border-color:rgba(161, 112, 112, 0.699) ;
  background-color: transparent;
  backdrop-filter: blur(25px);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  
  
}
#terminos{
  text-align: left;
  border-style: ridge;
  border-radius: 40px;
  border-color:rgba(139, 10, 10, 0.973) ;
  background-color: transparent;
  backdrop-filter: blur(55px);
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}
 
a{
  text-decoration: none;
}
h2{
  text-align: center;
    text-shadow: -3px 1px 3px rgba(0,0,0,0.6);
    border: 4px solid;
    border-color: rgb(114, 161, 214);
    width: 800px;
    margin: auto;
}
.focus:focus{
  background-color: rgba(128, 98, 104, 0.582);
}
p {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 4%;
}
img{
  margin-bottom: 3%;
}
a{
  color:rgb(4, 4, 70);
}

